<div class="d-flex justify-between">
  <div>
    <h4 id="subtitle">Vizualizar</h4>
    <h1>Agendamentos</h1>
  </div>
  <div class="mt-4 mb-4">
    <button mat-mini-fab (click)="refreshDataSource()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf="userProfile === 'ROLE_ALUNO'" mat-mini-fab color="primary" class="ml-4" routerLink="cadastrar">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-card class="mb-4">
  <mat-card-title>Filtros</mat-card-title>
  <mat-card-content>
    <mat-form-field class="mt-4" *ngIf="userProfile === 'ROLE_ALUNO'; else inputStudent">
      <mat-label>Professor</mat-label>
      <input [(ngModel)]="filter.professor" matInput />
    </mat-form-field>

    <ng-template #inputStudent>
      <mat-form-field class="mt-4">
          <mat-label>Aluno</mat-label>
          <input [(ngModel)]="filter.aluno" matInput />
      </mat-form-field>
    </ng-template>

    <mat-form-field class="mt-4 ml-4">
      <mat-label>Data</mat-label>
      <input [matDatepicker]="picker" matInput [(ngModel)]="filter.data" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="mt-4 ml-4">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="filter.status">
        <mat-option *ngFor="let status of statusSchedule" [value]="status.value">
          {{status.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onFilter()" class="ml-4">
      Filtrar
    </button>
    <button mat-button color="primary" (click)="onFilterClear()" class="ml-4">
      Limpar
    </button>
  </mat-card-content>
</mat-card>
<div class="mat-elevation-z2 loading-container">
  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef id="status-column">Cód. agendamento</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="professor">
      <th mat-header-cell *matHeaderCellDef> Professor </th>
      <td mat-cell *matCellDef="let element"> {{element.professor}} </td>
    </ng-container>

    <ng-container matColumnDef="aluno">
      <th mat-header-cell *matHeaderCellDef> Aluno </th>
      <td mat-cell *matCellDef="let element"> {{element.aluno}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.data}} </td>
    </ng-container>

    <ng-container matColumnDef="horaInicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
    </ng-container>

    <ng-container matColumnDef="horaFim">
      <th mat-header-cell *matHeaderCellDef> Fim </th>
      <td mat-cell *matCellDef="let element"> {{element.horaFim}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th id="status-column" mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip [ngClass]="chipHandler(element.status).class">
            {{chipHandler(element.status).label}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="['A_CONFIRMAR', 'CONFIRMADO'].includes(element.status);else viewButton" mat-icon-button [routerLink]="[element.id, 'editar']">
          <mat-icon>edit</mat-icon>
        </button>
        <ng-template #viewButton>
          <button mat-icon-button [routerLink]="[element.id, 'visualizar']">
            <mat-icon>visibility</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell table-no-data-message" colspan="7">
        <h2>Não há dados</h2>
      </td>
    </tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 15, 20, 25, 30]" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>
