<div>
  <mat-card-title>Cadastro</mat-card-title>
  <mat-card-subtitle>Sistema de Agendamento de Aulas</mat-card-subtitle>

  <form [formGroup]="form" (submit)="register()">
    <mat-form-field class="full-width form-group" appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        type="text"
        formControlName="nome"
        matInput
        required
      />
      <mat-hint *ngIf="getErrors('nome') !== ''" class="input-errors">{{ getErrors('nome') }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width form-group" appearance="outline">
      <mat-label>E-email</mat-label>
      <input
        type="email"
        name="email"
        formControlName="email"
        matInput
        required
      />
      <mat-hint *ngIf="getErrors('email') !== ''" class="input-errors">{{ getErrors('email', 'e-mail') }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width form-group" appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input
        [matDatepicker]="picker"
        name="dataNascimento"
        formControlName="dataNascimento"
        required
        matInput
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint *ngIf="getErrors('dataNascimento') !== ''" class="input-errors">{{ getErrors('dataNascimento', 'data de nascimento') }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width form-group" appearance="outline">
      <mat-label>Tipo de usuário</mat-label>
      <mat-select
        name="tipoUsuario"
        formControlName="tipoUsuario"
        required
      >
        <mat-option *ngFor="let tipoUsuario of tiposUsuarios" [value]="tipoUsuario.value">
          {{tipoUsuario.label}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="getErrors('tipoUsuario') !== ''" class="input-errors">{{ getErrors('tipoUsuario', 'tipo de usuário') }}</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width form-group" appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        [type]="inputPasswordType"
        name="senha"
        formControlName="senha"
        matInput
        required
      />
      <mat-icon matSuffix (click)="changeInputPasswordType()" class="cursor-pointer">{{isPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-hint *ngIf="getErrors('senha') !== ''" class="input-errors">{{ getErrors('senha') }}</mat-hint>
    </mat-form-field>

    <div class="d-flex justify-between">
      <button mat-raised-button color="accent"  type="reset" (click)="backToLogin()">Voltar</button>
      <button mat-raised-button color="primary" type="submit">
        Salvar
      </button>
    </div>
  </form>
</div>
